* {
  margin: 0;
  padding: 0;
}

.top {
  height: 800px;
  background-color: rgb(225, 255, 143);
  background-image: url(img/Star\ 2.svg),url(img/Star\ 3.svg),url(img/Star\ 4.svg),url(img/Star\ 5.svg),url(img/star1.svg);
  background-repeat: no-repeat;
  background-position: 63px 94px, 156px 69px;
  background-size: 57px 57px, 35px 35px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__strip {
  margin-top: auto;
  
}
.header__strip-color {
  height: 90px;
  background: rgb(188, 236, 48);
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.header__big {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 196px;
  padding-bottom: 24px;
}

.header__small {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 64px;
}

.top__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;

  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
}

.top__button:hover {
  color: white;
  background-color: black;
}
